.footer {
    display: flex;
    height: 20vh;

    .contact {
        display: flex;
        flex-direction: column;
        font-family: $font-family;
        margin-left: 40px;
    }

    #scroll_to_top {
        position: fixed;
        width: 25px;
        height: 25px;
        bottom: 50px;
        right: 30px;

        img {
            width: 32px;

            &:hover {
                background-color: rgb(241, 209, 170);
                color: #fff; /* Couleur du texte au survol */
                transition: background-color 0.3s, color 0.3s; /* Animation de transition au survol */
            }

            &:active {
                background-color: rgb(250, 222, 181);
            }
        }
    }
}